<?xml version="1.0" encoding="utf-8"?>
<classes>
  <class package="" name="t_duty" table="t_duty">
	<id name="id" column="duty_id" length="20" generator="identity" />
	<property name="code" column="duty_code" length="20" not-null="true" />
	<property name="name" column="duty_name" length="50" not-null="true" />
	<property name="createTime" column="create_time" length="50" not-null="true" />
  </class>
  
  <!-- sql -->
  <sql>
  
    <!--
    <mapConvert id="default">
		<id name="id" column="dutyid" />
		<property name="code" column="dutycode" />
		<property name="name" column="dutyname" />
		<property name="createTime" column="createTime" />
    </mapConvert>
    -->
  
	<!-- select/update id="updateByPrimaryKeySelective" parameterType="java.lang.Long" resultMap="BaseResultMap" -->
	<id name="selectByQuery" mapConvert="default">
    	<![CDATA[
    		select
    			duty_id,
    			duty_code,
    			duty_name
    		from t_duty
    		where true=true
    			<<and dutyid=#id#>>
    			<<and dutycode=#code#>>
    			<<and dutyname like #name#>>
    		{order by dutyid=#idSort#, dutycode=#codeSort#, dutyname=#nameSort#}
    	]]>
	</id>
  
    <id name="selectByQueryCamel" mapConvert="">
      <![CDATA[
        select
          duty_id,
          duty_code,
          duty_name
        from t_duty
        where true=true
          <<and dutyid=#id#>>
          <<and dutycode=#code#>>
          <<and dutyname like #name#>>
        {order by dutyid=#idSort#, dutycode=#codeSort#, dutyname=#nameSort#}
      ]]>
  </id>

  </sql>
</classes>
